<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add new artist</title>
  </head>
  <body>
    <h1>Add artist</h1>

    <form action="/artists" method="POST">
        <p>
            <label for="name"> Name </label>
            <input type="text" name="name" id ="name">
        </p>
        <p>
            <label for="genre"> Genre </label>
            <input type="text" name="genre" id="genre">
        </p>
        

        <input type="submit" value="Add Artist">
    </form>
    
    <!-- ... -->
  </body>
</html>
