<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add new album</title>
  </head>
  <body>
    <h1>Add album</h1>

    <form action="/albums" method="POST">
        <p>
            <label for="title">Title</label>
            <input type="text" name="title" id="title">
        </p>
        <p>
            <label for="release_year">Release Year</label>
            <input type="text" name="release_year" id="release_year">
        </p>
        <p>
          <label for="artist">Artist</label>
          <select class="t-artist" name="artist" id="artist">
            {% for artist in artists %}
            <option value="{{artist.name}}">{{artist.name}}</option>
            {% endfor %}
          </select>
        </p>
        <input type="submit" value="Add Album">
    </form>
    
    <!-- ... -->
  </body>
</html>