<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add new album</title>
  </head>
  <body>
    <h1>Add album</h1>

    <form action="/albums" methods="POST">
        <p>
            <label for="title">
              <input type="text" name="title"/>Title
            </label>
        </p>
        <p>
            <label for="release_year">Release Year</label>
            <input type="text" name="release_year">
        </p>
        

        <input type="submit" value="Add Album">
    </form>
    
    <!-- ... -->
  </body>
</html>
